{% extends 'store/메인.html'%}
{% load static %}
{% block content %}
<h3>결제</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="box" id='폼감싼정보'>
            <form id='폼'>
                
                <div id="사용자정보">
                    <div>
                        <input required class="form-control" type="text" name="name" placeholder="성함..">
                    </div>
                    <div>
                        <input required class="form-control" type="email" name="email" placeholder="이메일..">
                    </div>              
                </div>
                <div id='배송정보'> 
                    <hr>
                    <p>배송 정보:</p>
                    <hr>
                    <div>
                        <input class="form-control" type="text" name="address" placeholder="주소..">
                    </div>
                    <div>
                        <input class="form-control" type="text" name="city" placeholder="도시..">
                    </div>
                    <div>
                        <input class="form-control" type="text" name="state" placeholder="도..">
                    </div>
                    <div>
                        <input class="form-control" type="text" name="zipcode" placeholder="우편 번호..">
                    </div>
                    <div>
                        <input class="form-control" type="text" name="country" placeholder="국가..">
                    </div>
                </div>
                <hr>
                <input id='폼버튼' class="btn btn-success btn-block" type="submit" value="계속 진행">
            </form>
        </div>
        <br>
            <div class="box 숨기기" id="payment-info">
                <small>결제 버튼이 여기에 추가될 예정</small>
                <button id="make-payment">💰돈 내기</button>
                <div id="paypal-button-container"></div>
            </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
        <a class="btn btn-outline-secondary" href="{% url 'cart' %}">🔙장바구니로 돌아가기</a>
        <hr>
        <h3>주문 요약</h3>
        <hr>
        {% for item in items %}
        <div class="장바구니줄">
                <div style="flex:2"><img class="장바구니이미지" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><strong>{{item.product.name}}</strong></div>
                <div style="flex:1"><strong>${{item.product.price|floatformat:2}}</strong></div>
                <div style="flex:1"><strong>{{item.quantity}}</strong></div>

        </div>
        {% endfor %}
        <h5>제품 수: {{order.get_cart_items}} </h5>
        <h5>총합 : ${{order.get_cart_total|floatformat:2}} </h5>
    </div>
</div>

<script type = "text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    if (shipping == 'False'){
        document.getElementById('배송정보').innerHTML = ''
    }


    if (user != 'AnonymousUser'){
        document.getElementById('사용자정보').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser'){
        document.getElementById('폼감싼정보').classList.add('숨기기');
        document.getElementById('payment-info').classList.remove('숨기기');
    }



    var form = document.getElementById('폼')
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        document.getElementById('폼버튼').classList.add('숨기기')
        document.getElementById('payment-info').classList.remove('숨기기')



    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })
    
    function submitFormData(){
        console.log('주문버튼 눌렀다')

        var userFormData ={
            'name':null,
            'email':null,
            'total':total,
        }

        var shippingInfo ={
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,


        }

        if(shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value

        }

        if(user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value

        }
        
        console.log('배송정보:', shippingInfo)
        console.log('사용자정보:', userFormData)

    var url ='/process_order/'
    fetch(url,{
        method: 'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken

        },
        body:JSON.stringify({'form': userFormData,'shipping' : shippingInfo})

    })

    .then((response) =>{
        return response.json()
    })
    .then((data) =>{
        console.log('Sucess:', data);
        alert('주문이 완료 되었습니다');
        cart = {}
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
        window.location.href= "{% url 'store' %}"
    })

    }


</script>
{% endblock content %}