{% extends 'store/메인.html'%}
{% load static %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class= "box">
        <img width=100% src="{{product.imageURL}}">
        <h6><strong>{{product.name}}</strong></h6>
        재벌의 기준에 도달하세요! 오늘날 부자의 재산 기준은 최소 집에 오리 천마리, 양이 오십마리! 개가 백마리!
        <hr>
        <button data-product={{product.id}} data-action="add" class="btn btn-success 장바구니업데이트">장바구니 담기</button>
        <a href="#" class="btn btn-success">보기</a>
        <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
				
        </div>
       
    </div>
    {% endfor %} 
   
  
</div>
{% endblock content %}
